{% extends 'base.html' %}
{% block content %}
  <h1>About page</h>
  <div class="content">
      <p class="about">NAME is an organization dedicated to delivering the best quality
      free trade textiles from Mexico. All of our textiles are sourced and handcrafted in
      indigenous regions of Chiapas, Mexico.  For many indigenous women, the only source income originates from their ability to
      sell their wares on the street.  Due to the number of textiles being sold this way, the
      price of these textiles is driven down by supply.  Usually, this ends in hours of work spent
      weaving textiles resulting in 3-8 US dollars not taking into account the cost of thread.<br></br>
      Our goal is to create a better livelihood for indigenous women in Chiapas by providing them
      fair market prices on their product and selling them in the US.
      </p>
  </div>
{% endblock content %}
