<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Towel Site</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <h1>Towel Site</h1>
    <nav>
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'products' %}">Products</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li class="cart">{% with total_items=cart|length %}
            {% if cart|length > 0 %}
              Your cart:
              <a href="{% url "cart:cart_detail" %}">
                  {{ total_items }} item{{ total_items|pluralize }}
              </a>
              {% else %}
                Your cart is empty.
              {% endif %}
            {% endwith %}
            </li>
      </ul>
    </nav>

  </header>
  {% block content %}{% endblock content%}
  {% block footer %}{% endblock footer %}

</body>
</html>
